body {
  background-color: #818a9d;
  color: white;
  padding: 10px;
  font-family: Sans-Serif;
  text-align: center;
}


button{
  background-color: #1e2d4f;
  padding: 6px;
  margin: 4px;
  cursor: pointer;
}